<ng-container i18n>
  <br>
  <h2>AGB Metal Webs-Bestellung</h2>
  <p>

    <b>PREISSTELLUNG</b>
    <br />ab Werk Scharnstein, bzw. ab dt. Grenze (Mindestmenge 500 kg), inkl. Verpackung
  </p>
  <p>

    <b>PREISLISTENGÜLTIGKEIT</b>
    <br />in der gesamten EU, ausgenommen UK, Frankreich, Belgien, Spanien, Portugal und Skandinavien
  </p>
  <p>

    <b>RABATTE</b>
    <br /> Nach Bestellmenge pro Auftrag:
    <br /> ab 3 Tonnen - 4 %
    <br /> ab 5 Tonnen - 6 %
    <br />ab 10 Tonnen - 8 % + Transport frei
  </p>
  <p>

    <b>ABNAHMEMENGE</b>
    <br />In Stück
  </p>
  <p>

    <b>VERPACKUNG</b>
    <br />in Paletten: Palettengrösse: 1140x1140 mm
  </p>
  <p>

    <b>LIEFERUNG</b>
    <br /> Die Lieferung der Ware erfolgt durch unseren Hausspediteur, sofern nichts anderes vereinbart ist.
    <br />Die Transportkosten werden dem Empfänger getrennt in Rechnung gestellt.
  </p>
  <p>

    <b>ZAHLUNG</b>
    <br /> Innerhalb von 8 Tagen mit 2 % Skonto oder 30 Tage netto ab Rechnungsdatum.
    <br /> Generell gelten die Liefer- und Zahlungsbedingungen der Wolf Systembau Gesellschaft m.b.H.
    <br />Die Ware bleibt bis zur vollständigen Bezahlung unser Eigentum.
  </p>
  <p>

    <b>ZULASSUNG</b>
    <br />Die Metal Webs dürfen nur mit
    <a href="http://www.wolfnagelplatten.at/Easi-Joist/Zulassung" target="_self">gültiger Zulassung</a>
    verwendet werden.
  </p>
</ng-container>