<div class="main-sidebar"><div class="sidebar">
    <div class="vertical-menu">
        <a routerLink='/nagelplatten' routerLinkActive="active-link-1" [routerLinkActiveOptions]="{exact:
          true}">Bestellung Nagelplatten</a>
        <a routerLink='/metalwebs' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">Bestellung Metal Webs</a>
        <a href="#">Bestellung Binderwinkel</a>
        <a href="#">AGB Bestellung</a>
      </div>
  <div class="version">
    Version: 20180313
  </div>
</div>
</div>