<div class="main-sidebar">
  <div class="sidebar">
    <div class="logo">
      <span class="logo-min">
          <img src="https://bilder.wolfsystem.at/wolflogo.png" width="80" alt="Wolf_Logo">
      </span>
      <span class="logo-max">
      <img src="https://bilder.wolfsystem.at/wolflogo.png" width="120" alt="Wolf_Logo">
    </span>
    </div>
    <div class="vertical-menu">

      <a routerLink='nagelplatten' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" i18n>Bestellung Nagelplatten</a>
      <a routerLink='metalwebs' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" i18n>Bestellung Metal Webs</a>
      <a routerLink='binderwinkel' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}" i18n>Bestellung Binderwinkel</a>
      <a routerLink='agb' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}" i18n>AGB Bestellung</a>
      <a href="http://www.wolfnagelplatten.at/Datenschutzerklaerung" target="_blank" i18n>Datenschutzerklärung</a>
    </div>
    <div class="version">
      <span class="version-min">
        Version:
        <br/> 20180406
      </span>
      <span class="version-max">
        <ng-container i18n>Version</ng-container>: 20180530
      </span>
    </div>
  </div>
</div>