<div class="main-sidebar"><div class="sidebar">
    <div class="vertical-menu">
        <a routerLink='nagelplatten' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" i18n>Bestellung Nagelplatten</a>
        <a routerLink='metalwebs' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" i18n>Bestellung Metal Webs</a>
          <a routerLink='binderwinkel' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}" i18n>Bestellung Binderwinkel</a>
        <a href="#" i18n>AGB Bestellung</a>
      </div>
  <div class="version">
    <ng-container i18n>Version</ng-container>: 20180322
  </div>
</div>
</div>