<!-- MENÜ ENDE-->
<div class="content-wrapper">
    <!-- Content Header -->
    <section class="content-header">
      <h2 i18n>Bestellung Binderwinkel</h2>
      <a href='#/agb/agb_binderwinkel' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" i18n>Allgemeine Geschäftsbedingungen </a>
      <br>
      <br>
      <!--<h4 i18n>1. Artikelauswahl</h4>
      <ng-container i18n>Wählen Sie einen Typ aus, und tragen Sie die Bestellmenge ein. Rabatt nach Bestellmenge pro Auftrag:</ng-container>-->
      <div class="line_height"></div>
      <div class="row_header">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-10">
          <div class="auftragsentwicklung">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row" width="25%" style="text-align: left">
                      <b i18n>ab 1 Tonne - 4 %</b>
                  </th>
                  <td width="33%" style="text-align: left">
                    <b i18n>ab 3 Tonnen - 6 %</b>
                  </td>
                  <td width="33%" style="text-align: left">
                    <b i18n>ab 5 Tonnen - 8 %</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  
    <br />
    <br />
  <!-- Accordion für Arikel -->
    <section>
      <div id="container">
        <div class="row">
          <div class="col-lg-12 col-xl-6">
            <div class="site_width">
                <mat-tab-group class="tab-group">
                    <mat-tab i18n-label label="Binderwinkel">
                      <ng-template matTabContent>
              <div class="tab-content visible-sm-12">
                <mat-accordion>
                  <mat-expansion-panel [disabled]="true">
                    <mat-expansion-panel-header>
                      <div class="row_accordion disabled">
                        <div class="row">
                          <div class="col-4 col-sm-3 col-md-3 col-lg-5 col-xl-4" i18n>Typ</div>
                        </div>
                      </div>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header (click)="getBinderwinkel()">
                      <div class="row_accordion">
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-xl-12" i18n>Binderwinkel</div>
                        </div>
                      </div>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="row_accordion">
                        <div class="row">
                          <div class="col-md-12 col-xs-12 col-lg-12 col-xl-12">
                              <br>
                            <div *ngIf="!nagelplatten;then loading else show"></div>
                            <ng-template #loading>
                            <mat-progress-bar  mode="indeterminate" color="yellow"></mat-progress-bar>
                            Daten werden geladen ...
                            <br>
                          </ng-template>
                            <ng-template #show>
                            <div class="col-sm-12 col-lg-12 col-xl-12" i18n>Zulassungsnummer: ETA-10/0067</div>
                            <br>
                            <div class="buttonBasket" id="myHeader">
                              <button type="button" class="buttonWarenkorb" (click)="scroll(target)" i18n>Übernehmen und Warenkorb berechnen</button>
                              <br> </div>
                              <div class="row">
                                  <div class="artWidthHeader col-12 col-sm-3 col-lg-2 col-xl-3" i18n>Menge</div>
                                  <div class="artikelheader2 col-12 col-sm-2 col-lg-1 col-xl-1" i18n>Art.Nr.</div>
                                  <div class="artikelheader2 col-12 col-sm-4 col-lg-4 col-xl-4" i18n>Bezeichnung</div>
                                  <div class="artikelheader1 col-12 col-sm-1 col-lg-2 col-xl-1 text-right" i18n>kg/ME</div>
                                  <div class="artikelheader2 col-12 col-sm-1 col-lg-1 col-xl-1 text-right" i18n>ME</div>
                                  <div class="artikelheader1 col-12 col-sm-1 col-lg-2 col-xl-2 text-right" i18n>Preis/ME</div>  
                                </div>
                              <table class="table">
                            <tr class="" *ngFor="let n of nagelplatten; let in = index; index as i; odd as isOdd; even as isEven" 
                            [ngClass]="{ odd: isOdd, even: isEven }" >
                            <div class="row">
                              <div class="artWidth col-sm-3 col-lg-2 col-xl-3"><span><input type="number" pattern="[0-9]" name='name' [(ngModel)]="n.Stk" (change)="addToCart(name.value, in, n.PKArtikelID, n.Typ)" #name><div *ngIf="n.ME > 1;then karton else stueck"></div></span><ng-template #karton i18n> Karton</ng-template>
                              <ng-template #stueck i18n> Stück</ng-template></div>
                              <div class="artikel col col-sm-2 col-lg-1 col-xl-1">{{ n.PKArtikelID }}</div>
                              <div class="artikel col col-sm-4 col-lg-4 col-xl-4">{{ n.Typ }}</div>
                              <div class="artikel col col-sm-1 col-lg-2 col-xl-1 text-right">{{ n.Gewicht | number: '1.4-4' }}</div>
                              <div class="artikel col col-sm-1 col-lg-1 col-xl-1 text-right">{{ n.ME }}</div>
                              <div class="artikel padding col col-sm-1 col-lg-2 col-xl-2 text-right">{{ n.Preis | number: '1.4-4'}}</div>    
                            </div>
                            </tr>
                          </table>
                        </ng-template>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
          </ng-template>
        </mat-tab>
        </mat-tab-group>
      
  
  <!-- ENDE TAB Edelstahl-->
              
            </div>
          </div>
  <!-- Accordion ENDE -->
  
  <!-- Warenkorb ANFANG -->    
  <div class="col-lg-12 col-xl-6 warenkorb" #target>
    <div *ngIf="showBasket" class="sticky">
          <div class="basketHeaderLine"></div>
              <div class="basketHeader" i18n>
                Warenkorb Übersicht
              </div>
              <br>
              <div class="basketDetailHeader">
                <div class="row" >
              
              <div class="artikelheader col-sm-2 col-lg-3 col-xl-3" i18n>Menge</div>
              <div class="artikelheader2  col-sm-2 col-lg-1 col-xl-1" i18n>Art.Nr.</div>
              <div class="artikelheader2 col-sm-3 col-lg-3 col-xl-3" i18n>Bezeichnung</div>
              <div class="artikelheader1 col-sm-1 col-lg-1 col-xl-1 text-right" i18n>kg/ME</div>
              <div class="artikelheader1 col-sm-1 col-lg-1 col-xl-1 text-right" i18n>ME</div>
              <div class="artikelheader1 col-sm-1 col-lg-1 col-xl-1 text-right" i18n>Preis/ME</div>  
              <div class="artikelheader1 col-sm-2 col-lg-2 col-xl-2 text-right" i18n>Gesamt €</div> 
            </div>
          </div>
          <div class="basketDetailTable">
            <div class="row">
          <table class="table">
              <tr *ngFor="let n of warenkorb; let in = index; index as i; odd as isOdd; even as isEven" 
              [ngClass]="{ odd: isOdd, even: isEven }" >
             <div class="row">
                <div class="menge col-sm-2 col-lg-3 col-xl-3 text-left"><span> <i class="far fa-trash-alt" (click)="deleteEntry(in)"></i><div *ngIf="n.ME > 1;then karton else stueck"></div></span><ng-template #karton>   {{n.Stk }} <ng-container i18n>Karton</ng-container></ng-template>
                <ng-template #stueck>   {{n.Stk }} <ng-container i18n>Stück </ng-container></ng-template></div>
                <div class="artikelbasket col-sm-2  col-lg-1 col-xl-1">{{ n.PKArtikelID }}</div>
                <div class="artikelbasket col-sm-3 col-lg-3 col-xl-3">{{ n.Typ }}</div>
                <div class="artikelbasket col-sm-1  col-lg-1 col-xl-1 text-right">{{ n.Gewicht | number: '1.4-4' }}</div>
                <div class="artikelbasket col-sm-1 col-lg-1 col-xl-1 text-right">{{ n.ME }}</div>
                <div class="artikelbasket col-sm-1  col-lg-1 col-xl-1 text-right">{{ n.Preis | number: '1.4-4'}}</div> 
                <div class="artikelbasket col-sm-2 col-lg-2 col-xl-2 text-right">{{ n.Gesamt | number: '1.2-2'}}</div>  
             </div>
            </tr>
            </table>
          </div>
        </div>
      <br>
   <!-- Warenkorb -->
  
              <!-- Zwischensumme wird eingeblendet wenn das erste gesamt Gewicht über 1000kg liegt -->
              <div *ngIf="showBasketZwischensumme">
                  <div class="basketDetailHeader" style="background-color:#cccccc">
                    <div class="row">
    
                      <div class="zwischensummetext col-md-4 col-lg-6 col-xl-6" i18n>Zwischensumme</div>
                      <div class="col-md-4 col-lg-2 col-xl-2"></div>
                      <div class="zwischensumme col-md-4 col-lg-4 col-xl-4 text-right">{{basketZwischenSumme| number: '1.2-2'}}</div>
                    </div>
                  </div>
                  <div class="basketDetailHeader" style="background-color:#fff; color: #717274">
                    <div class="row">
                      <div class="artikelheadernormal col-md-8 col-lg-8 col-xl-8"> &nbsp;- {{basketRabattProzent}}
                        <ng-container i18n>% Mengenrabatt (ab</ng-container> {{basketRabattAbKG | number}} kg) {{basketTransport}}</div>
                      <div class="artikelheader1normal col-md-4 col-lg-4 col-xl-4 text-right">{{basketZwischenSummeRabatt |number: '1.2-2' }}</div>
                    </div>
                  </div>
                </div>
                <!-- Zwischensumme ENDE-->
    
                <!-- Bestellsumme über die ganze Bestellung wird angezeigt -->
                <b>
                  <div class="basketDetailHeader" *ngIf="showBasketSumme">
                    <div class="row">
                      <div class="artikelheader col-sm-5 col-lg-5 col-xl-4" i18n>Bestellsumme in Euro</div>
                      <div class="basketgewicht col-sm-4 col-lg-4 col-xl-5">
                        <ng-container i18n>(Gesamtgewicht</ng-container> {{ basketGewicht | number: '1.2-2'}} kg)</div>
                      <div class="summe col-sm-3 col-lg-3 col-xl-3 text-right">{{(basketSummeGesamt | number: '1.2-2')}}</div>
                    </div>
                  </div>
                </b>
                <br>
                <button  *ngIf="showBasketSumme" class="buttonWarenkorb" data-toggle="modal" data-target="#NagelplattenFormular" i18n>Kundendaten eingeben & bestellen</button>
              </div>
            </div>
            <!-- Bestellsumme ENDE -->
    
            <!-- Warenkorb ENDE -->
        </div>
      </div>
    </section>
  <!-- -->
  
  <!-- Nagelplatten Bestellformular ANFANG -->
  <div class="modal fade" id="NagelplattenFormular" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" *ngIf="isValid && !error">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" i18n>Nagelplatten Bestellformular</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form #bookForm="ngForm">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-select i18n-placeholder placeholder=Anrede [(ngModel)]="bestellung.Anrede" name="anrede">
                        <mat-option *ngFor="let anrede of anreden" [value]="anrede.value">
                          {{ anrede.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput type="email" i18n-placeholder placeholder=eMail [(ngModel)]="bestellung.eMail" name="email" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="Vorname" [(ngModel)]="bestellung.Vorname" name="vorname" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="Nachname" [(ngModel)]="bestellung.Name" name="nachname" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="Firma" [(ngModel)]="bestellung.Firma" name="firma" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="Straße" [(ngModel)]="bestellung.Strasse" name="strasse">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="PLZ" [(ngModel)]="bestellung.Plz" name="plz" required>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="Ort" [(ngModel)]="bestellung.Ort" name="ort" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <mat-select i18n-placeholder placeholder="Land" [(ngModel)]="bestellung.Land" name="land" required>
                        <mat-option *ngFor="let la of land" [value]="la.Kuerzel">
                          {{ la.Land }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="Telefon" [(ngModel)]="bestellung.Telefon" name="telefon">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width">
                      <input matInput i18n-placeholder placeholder="gewünschter Liefertermin" [(ngModel)]="bestellung.Liefertermin" name="liefertermin">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
  
                  <div class="col-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput i18n-placeholder placeholder="Bemerkung" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5"
                        [(ngModel)]="bestellung.Bemerkung" name="bemerkung"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <ng-container i18n>Abbrechen</ng-container>
            </button>
            <button type="submit" class="btn btn-default" [disabled]="!bookForm.form.valid" (click)="makeOrder()">
              <ng-container i18n>Absenden</ng-container>
            </button>
          </div>
        </div>
        <div class="modal-content" *ngIf="isValid && error">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" i18n>Herzlichen Dank für Ihre Bestellung</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid" style="color: rgb(2, 90, 2); font-size: 14px;">
              <ng-container i18n>Die Bestellung wurde erfolgreich gespeichert !</ng-container>
              <br>
              <br>
              <ng-container i18n>Sie bekommen in den nächsten Minuten eine Bestätigungsmail.</ng-container>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearAll()">
              <ng-container i18n>Schließen</ng-container>
            </button>
          </div>
        </div>
        <div class="modal-content" *ngIf="!isValid && error">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" i18n>Nagelplatten Bestellformular</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid" style="color: red; font-size: 14px;">
              <ng-container i18n>Beim speichern der Bestellung ist ein Fehler aufgetreten.
                <br> Bitte versuchen Sie es noch einmal.
                <br>
                <br> Fehlermeldung:
              </ng-container>
              <br> {{ errorMsg }}
              <br>
              <br>
              <ng-container i18n>Danke</ng-container>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <ng-container i18n>Schließen</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Nagelplatten Bestellformular ENDE -->
  <router-outlet></router-outlet>
  <!-- ENDE -->
  
  