@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


h4 {
    font-size: 1.0em;
    color: #717274;
}

h2 {
    font-size: 1.2em;
    color: #717274;
}

body {
    color:#717274;
    font-size: 12px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

b {
    font-weight: normal;
}

.row_accordion.disabled {
    color: #000;
}

.mat-expansion-panel-header, .mat-expansion-panel-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
}

tr.artikel {
    height: 30px;
}

.artikel {
    padding-top: 0.6em;
    padding-left: 18px;
    padding-right: 10px;
    padding-bottom: 0.6em;
}

.table td, .table th {
    padding-top: 0.6em;
    padding-left: 8px;
    padding-right: 0px;
    padding-bottom: 0.6em;
    text-align: center;    
}

.tr {
    border-bottom-style: dotted;
    border-width: 1px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fff199;
}

input {
    width: 30px;
    height: 18px;
}

tr.even.ng-star-inserted {
    background-color: #e2e2e2;
}

.mat-tab-label {
    height: 36px !important;
}

.mat-tab-label, .mat-tab-link {
    color: #000;
}

mat-ink-bar.mat-ink-bar {
    position: absolute;
    top: 0px;
    height: 4px !important;
    transition: .5s cubic-bezier(.35,0,.25,1);
}

@media (min-width:375px){
    .mat-expansion-panel-header {
        height: 64px !important;
    }
}

@media (min-width:667px){
.mat-expansion-panel-header {
    height: 40px !important;
}
}

.mat-tab-label-active{
    background-color: #f5f5f5;
  }

  .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: #f5f5f5;
}

.mat-expansion-panel, .mat-expansion-panel-header-title {
    background: #fff;
    color: #000;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover, .mat-expansion-panel-header.mat-expanded {
    background-color: #fcdb00 !important;
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
     color: #000;
}
