<div class="wrapper" style="height: auto; min-height: 100%">
  <!-- Hier kommt das ganze Menü rein -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul>
        <li class="main-sidebar-menu-Items">
          <div class="menu">
            <a href="index.html">
              <b>Bestellung Nagelplatten</b>
            </a>
          </div>
          <a href="index.html">
            <b>Bestellung Nagelplatten</b>
          </a>
          <a href="index.html">
            <b>Bestellung Nagelplatten</b>
          </a>
          <a href="index.html">
            <b>Bestellung Nagelplatten</b>
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <!-- Content Header -->
    <section class="content-header">
      <h2>{{headertitle}}</h2>
      <a href="http://www.wolfnagelplatten.at/Online-Bestellung/AGB-Bestellung">Allgemeine Geschäftsbedingungen</a>
      <br>
      <br>
      <h4>1. Artikelauswahl</h4>
      Wählen Sie einen Nagelplattentyp aus, und tragen Sie die Bestellmenge ein. Rabatt nach Bestellmenge pro Auftrag:
      <div class="line_height"></div>
      <div class="row_header">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-10">
          <div class="auftragsentwicklung">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row" width="25%" style="text-align: left">
                    <b>ab 1.000 kg - 3%</b>
                  </th>
                  <td width="33%" style="text-align: left">
                    <b>ab 1.500 kg - 4%</b>
                  </td>
                  <td width="33%" style="text-align: left">
                    <b>ab 3.000 kg - 6%</b>
                  </td>
                </tr>
                <tr>
                  <th scope="row" width="25%" style="text-align: left">
                    <b>ab 5.000 kg - 8%</b>
                  </th>
                  <td width="33%" style="text-align: left">
                    <b>ab 10.000 kg - 10% + Transport frei</b>
                  </td>
                  <td width="33%" style="text-align: left">
                    <b>ab 15.000 kg - 12% + Transport frei</b>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <br />
    <br />
    <section>
      <div id="demoContainer">
        <div class="row">
          <div class="col-lg-12 col-xl-7">
            <div class="site_width">
              <mat-tab-group class="tab-group">
                <mat-tab label="Verzinkt">
                  <div class="tab-content visible-sm-12">
                    <mat-accordion>
                      <mat-expansion-panel [disabled]="true">
                        <mat-expansion-panel-header>
                          <div class="row_accordion disabled">
                            <div class="row">
                              <div class="col-xs-12 col-sm-5 col-lg-6 col-xl-7">Typ</div>
                              <div class="col-xs-12 col-sm-4 col-lg-2 col-xl-2">Euro / kg</div>
                              <div class="col-xs-12 col-sm-2 col-lg-2 col-xl-2 offset-sm-1 offset-lg-1 offset-xl-1">Euro / m²</div>
                            </div>
                          </div>
                        </mat-expansion-panel-header>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                          <div class="buttonBasket" id="myHeader">
                              <button (click)="addToCart()">Übernehmen und Warenkorb berechnen</button>
                            </div>
                        <mat-expansion-panel-header (click)="getNagelplattenWithTyp('4949')">
                          <div class="row_accordion">
                            <div class="row">
                              <div class="col-sm-5 col-lg-6 col-xl-7">W101</div>
                              <div class="col-sm-4 col-lg-2 col-xl-2"> 2,53</div>
                              <div class="col-sm-2 col-lg-2 col-xl-2 offset-sm-1 offset-lg-1 offset-xl-1">19,86</div>
                            </div>
                          </div>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                          <div class="row_accordion">
                            <div class="row">
                              <div class="col-md-12 col-xs-12 col-lg-12 col-xl-12">
                                <br>
                                <div class="col-sm-12 col-lg-12 col-xl-12">Blechdicke: 1,00 mm</div>
                                <div class="col-sm-12 col-lg-12 col-xl-12"> Zulassungsnummer: Z-9.1-757</div>
                                <br>
                                <br>
                                <div class="row">
                                  <div class="artikelheader col-lg-2 col-xl-2">Menge</div>
                                  <div class="artikelheader2 col-lg-1 col-xl-1">Art.Nr.</div>
                                  <div class="artikelheader2 col-lg-4 col-xl-4">Größe</div>
                                  <div class="artikelheader1 col-lg-1 col-xl-1 text-right">kg/ME</div>
                                  <div class="artikelheader1 offset-lg-1 col-lg-1 col-xl-1 text-right">ME</div>
                                  <div class="artikelheader1 offset-lg-1 col-lg-1 offset-xl-1 col-xl-1 text-right">Preis/ME</div>  
                                </div>
                                <table class="table">
                              <tr class="artikel" *ngFor="let n of nagelplatten; let in = index; index as i; odd as isOdd; even as isEven" 
                              [ngClass]="{ odd: isOdd, even: isEven }" >
                              <div class="row">
                                <div class="col-sm-5 col-lg-2 col-xl-2"><span><input type="number" name='name' (keyup)="onKeyUp(name.value, in)" #name><div *ngIf="n.ME > 1;then karton else stueck"></div></span><ng-template #karton> Karton</ng-template>
                                <ng-template #stueck> Stück </ng-template></div>
                                <div class="artikel col-sm-5 col-lg-1 col-xl-1">{{ n.PKArtikelID }}</div>
                                <div class="artikel col-sm-5 col-lg-4 col-xl-4">{{ n.Groesse }}</div>
                                <div class="artikel col-sm-5 col-lg-1 col-xl-1 text-right">{{ n.Gewicht | number: '1.4-4' }}</div>
                                <div class="artikel col-sm-5 offset-lg-1 col-lg-1 col-xl-1 text-right">{{ n.ME }}</div>
                                <div class="artikel col-sm-5 offset-lg-1 col-lg-1 offset-xl-1 col-xl-1 text-right">{{ n.Preis | number: '1.4-4'}}</div>  
                              </div>
                              </tr>
                            </table>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="getNagelplattenWithTyp('4941')">
                          <div class="row_accordion">
                            <div class="row">
                              <div class="col-sm-5 col-lg-6 col-xl-7">12N</div>
                              <div class="col-sm-4 col-lg-2 col-xl-2"> 2,38</div>
                              <div class="col-sm-2 col-lg-2 col-xl-2 offset-sm-1 offset-lg-1 offset-xl-1">23,36</div>
                            </div>
                          </div>
                        </mat-expansion-panel-header>

                        <div class="row_accordion">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                            <table class="table">
                              <tr>
                                <td width="5%" style="text-align: left">
                                  <b>ArtNr.</b>
                                </td>
                                <th scope="row" width="50%" style="text-align: left">
                                  <b>Bezeichnung</b>
                                </th>
                                <td width="20%" style="text-align: left">
                                  <b>Gewicht</b>
                                </td>
                                <td width="20%" style="text-align: right">
                                  <b></b>
                                </td>
                              </tr>
                              <tr *ngFor="let n of nagelplatten" [routerLink]="['/basket', n.PKArtikelID]">
                                <td width="5%" style="text-align: left">
                                  <b>{{n.PKArtikelID}}</b>
                                </td>
                                <th scope="row" width="50%" style="text-align: left">
                                  <b>{{n.Groesse}}</b>
                                </th>
                                <td width="20%" style="text-align: left">
                                  <b>{{n.Gewicht}}</b>
                                </td>
                                <td width="20%" style="text-align: right">
                                  <b>{{n.PKArtikelID}}</b>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="getNagelplattenWithTyp('4941')">
                          <div class="row_accordion">
                            <div class="row">
                              <div class="col-sm-5 col-lg-6 col-xl-7">15N</div>
                              <div class="col-sm-4 col-lg-2 col-xl-2"> 2,24</div>
                              <div class="col-sm-2 col-lg-2 col-xl-2 offset-sm-1 offset-lg-1 offset-xl-1">26,38</div>
                            </div>
                          </div>
                        </mat-expansion-panel-header>

                        <div class="row_accordion">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                            <table class="table">
                              <tr>
                                <th scope="row" width="60%" style="text-align: left">
                                  <b>Typ</b>
                                </th>
                                <td width="20%" style="text-align: left">
                                  <b>Euro / kg</b>
                                </td>
                                <td width="20%" style="text-align: right">
                                  <b>Euro / m²</b>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="getNagelplattenWithTyp('4941')">
                          <div class="row_accordion">
                            <div class="row">
                              <div class="col-sm-5 col-lg-6 col-xl-7">20W</div>
                              <div class="col-sm-4 col-lg-2 col-xl-2"> 2,58</div>
                              <div class="col-sm-2 col-lg-2 col-xl-2 offset-sm-1 offset-lg-1 offset-xl-1">40,51</div>
                            </div>
                          </div>
                        </mat-expansion-panel-header>

                        <div class="row_accordion">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                            <table class="table">
                              <tr>
                                <th scope="row" width="60%" style="text-align: left">
                                  <b>Typ</b>
                                </th>
                                <td width="20%" style="text-align: left">
                                  <b>Euro / kg</b>
                                </td>
                                <td width="20%" style="text-align: right">
                                  <b>Euro / m²</b>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </mat-tab>
                <mat-tab label="Edelstahl">
                  <h1>Some more tab content</h1>
                  <p>...</p>
                </mat-tab>
              </mat-tab-group>
            </div>

          </div>
          <div class="col-lg-4">
            <app-nagelplatten-basket></app-nagelplatten-basket>
          </div>
        </div>
      </div>
    </section>
  </div>