<div class="wrapper" style="height: auto; min-height: 100%">
  <!-- Hier kommt das ganze Menü rein -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul>
        <li class="main-sidebar-menu-Items">
          <a href="index.html">
            <span>
              <i class="fa fa-home" aria-hidden="true"></i>
            </span>
            <b>Übersicht</b>
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <!-- Content Header -->
    <section class="content-header">
      <h2>{{headertitle}}</h2>
      <br>
      <h4>1. Artikelauswahl</h4>
      Wählen Sie einen Nagelplattentyp aus, und tragen Sie die Bestellmenge ein. Rabatt nach Bestellmenge pro Auftrag:
      <div class="line_height"></div>
      <div class="row_header">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="auftragsentwicklung">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row" width="25%" style="text-align: left">
                    <b>ab 1.000 kg - 3%</b>
                  </th>
                  <td width="33%" style="text-align: left">
                    <b>ab 1.500 kg - 4%</b>
                  </td>
                  <td width="33%" style="text-align: left">
                    <b>ab 3.000 kg - 6%</b>
                  </td>
                </tr>
                <tr>
                    <th scope="row" width="25%" style="text-align: left">
                      <b>ab 5.000 kg - 8%</b>
                    </th>
                    <td width="33%" style="text-align: left">
                      <b>ab 10.000 kg - 10% + Transport frei</b>
                    </td>
                    <td width="33%" style="text-align: left">
                      <b>ab 15.000 kg - 12% + Transport frei</b>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <br />
    <br />
    <section>
        <div id="demoContainer">
            <div class="row">
                <div class="col-lg-8">                
          <div class="artnr">
           Artikelnummer: {{details}}
          </div>
      <div class="site_width">
        <mat-tab-group class="demo-tab-group">
            <mat-tab label="Verzinkt">
                <div class="demo-tab-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                        <table class="table_typ">
                          <tr>
                    <th scope="row" width="60%" style="text-align: left">
                      <b>Typ</b>
                    </th>
                    <td width="20%" style="text-align: left">
                      <b>Euro / kg</b>
                    </td>
                    <td width="20%" style="text-align: right">
                      <b>Euro / m²</b>
                    </td>
                  </tr>
                </table>
              </div>
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header (click)="getNagelplattenWithTyp('W101')">
                        <div class="row_accordion">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                              <table class="table">
                                <tr>
                          <th scope="row" width="60%" style="text-align: left">
                            <b>W101</b>
                          </th>
                          <td width="20%" style="text-align: left">
                            <b>test</b>
                          </td>
                          <td width="20%" style="text-align: right">
                            <b>19,86</b>
                          </td>
                        </tr>
                      </table>
                    </div>
                </div>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                      <div class="row_accordion">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                              <table class="table">
                               <tr>
                                  <td width="5%" style="text-align: left">
                                    <b>ArtNr.</b>
                                  </td>
                                  <th scope="row" width="50%" style="text-align: left">
                            <b>Bezeichnung</b>
                          </th>
                          <td width="20%" style="text-align: left">
                            <b>Gewicht</b>
                          </td>
                          <td width="20%" style="text-align: right">
                            <b></b>
                          </td>
                               </tr>
                               <tr *ngFor="let n of nagelplatten" (click)="showDetails(n.PKArtikelID)" >
                                  <td width="5%" style="text-align: left">
                                    <b>{{n.PKArtikelID}}</b>
                                  </td>
                                  <th scope="row" width="50%" style="text-align: left">
                            <b>{{n.BezeichnungKonzernsprache}}</b>
                          </th>
                          <td width="20%" style="text-align: left">
                            <b>{{n.Gewicht}}</b>
                          </td>
                          <td width="20%" style="text-align: right">
                            <b>{{n.PKArtikelID}}</b>
                          </td>
                        </tr>
                      </table>
                    </div>
                </div>
              </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header  (click)="getNagelplattenWithTyp('12N')">
                            <div class="row_accordion">
                              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                                  <table class="table">
                                    <tr>
                              <th scope="row" width="60%" style="text-align: left">
                                <b>12N</b>
                              </th>
                              <td width="20%" style="text-align: left">
                                <b>2,38</b>
                              </td>
                              <td width="20%" style="text-align: right">
                                <b>23,36</b>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                          </mat-expansion-panel-header>
                      
                          <div class="row_accordion">
                              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                                <table class="table">
                                  <tr>
                                     <td width="5%" style="text-align: left">
                                       <b>ArtNr.</b>
                                     </td>
                                     <th scope="row" width="50%" style="text-align: left">
                               <b>Bezeichnung</b>
                             </th>
                             <td width="20%" style="text-align: left">
                               <b>Gewicht</b>
                             </td>
                             <td width="20%" style="text-align: right">
                               <b></b>
                             </td>
                                  </tr>
                                  <tr *ngFor="let n of nagelplatten" [routerLink]="['/basket', n.PKArtikelID]">
                                     <td width="5%" style="text-align: left">
                                       <b>{{n.PKArtikelID}}</b>
                                     </td>
                                     <th scope="row" width="50%" style="text-align: left">
                               <b>{{n.BezeichnungKonzernsprache}}</b>
                             </th>
                             <td width="20%" style="text-align: left">
                               <b>{{n.Gewicht}}</b>
                             </td>
                             <td width="20%" style="text-align: right">
                               <b>{{n.PKArtikelID}}</b>
                             </td>
                           </tr>
                         </table>
                        </div>
                    </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="row_accordion">
                              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                                  <table class="table">
                                    <tr>
                              <th scope="row" width="60%" style="text-align: left">
                                <b>15N</b>
                              </th>
                              <td width="20%" style="text-align: left">
                                <b>2,24</b>
                              </td>
                              <td width="20%" style="text-align: right">
                                <b>26,38</b>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                          </mat-expansion-panel-header>
                      
                          <div class="row_accordion">
                              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                                  <table class="table">
                                    <tr>
                              <th scope="row" width="60%" style="text-align: left">
                                <b>Typ</b>
                              </th>
                              <td width="20%" style="text-align: left">
                                <b>Euro / kg</b>
                              </td>
                              <td width="20%" style="text-align: right">
                                <b>Euro / m²</b>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="row_accordion">
                              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                                  <table class="table">
                                    <tr>
                              <th scope="row" width="60%" style="text-align: left">
                                <b>20W</b>
                              </th>
                              <td width="20%" style="text-align: left">
                                <b>2,58</b>
                              </td>
                              <td width="20%" style="text-align: right">
                                <b>40,51</b>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                          </mat-expansion-panel-header>
                      
                          <div class="row_accordion">
                              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                                  <table class="table">
                                    <tr>
                              <th scope="row" width="60%" style="text-align: left">
                                <b>Typ</b>
                              </th>
                              <td width="20%" style="text-align: left">
                                <b>Euro / kg</b>
                              </td>
                              <td width="20%" style="text-align: right">
                                <b>Euro / m²</b>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  </div>
            </mat-tab>
            <mat-tab label="Edelstahl">
              <h1>Some more tab content</h1>
              <p>...</p>
            </mat-tab>
          </mat-tab-group>
        </div>
   
        </div>
        <div class="col-lg-4">
           <router-outlet></router-outlet>
          </div>
      </div>
                </div>
    </section>
  </div>