  <br>
  <ng-container i18n>
    <h2>AGB Nagelplatten-Bestellung</h2>
    <p>

      <b>Preisstellung</b>
      <br />ab Werk Scharnstein, bzw. ab dt. Grenze (Mindestmenge 500kg), inkl. Verpackung (ohne Einwegsonderpalette 2100/800 mm)
    </p>
    <p>

      <b>Preislistengültigkeit</b>
      <br />in der gesamten EU, ausgenommen UK, Frankreich, Belgien, Spanien und Portugal
    </p>
    <p>

      <b>Rabatt</b>
      <br /> Nach Bestellmenge pro Auftrag
      <br /> ab 1.000 kg - 3 %
      <br /> ab 1.500 kg - 4 %
      <br /> ab 3.000 kg - 6 %
      <br /> ab 5.000 kg - 8 %
      <br /> ab 10.000 kg - 10 % + Transport frei
      <br />ab 15.000 kg - 12 % + Transport frei
    </p>
    <p>

      <b>Abnahmemenge</b>
      <br /> Laut den Bestellisten nur in ganzen Kartons
      <br />Bei Plattengrößen ohne Angabe von Platten/Karton ist die Plattenstückzahl frei wählbar. Edelstahl-Nagelplatten 12NE,
      15NE, 20ZE sind in Stück zu bestellen.
    </p>
    <p>

      <b>Verpackung</b>
      <br /> Standardverpackung: 24 Kartons pro Palette
      <br />Verpackungsinhalt laut Nagelplattenbestelliste
    </p>
  </ng-container>
  <table class="grid" border="0" cellpadding="2" cellspacing="0" width="100%">
    <tr class="even">
      <td valign="middle">
        <span i18n>
          <b>Karton</b>
        </span>

      </td>
      <td valign="middle">
        <span i18n>
          <b>Größe mm</b>
        </span>

      </td>
      <td valign="middle">
        <span i18n>
          <b>Palette</b>
        </span>

      </td>
      <td valign="middle">
        <span>
          <b>Euro</b>
        </span>

      </td>

    </tr>

    <tr class="odd">
      <td valign="middle">
          Standard
      </td>
      <td valign="middle">
          405/405/243
      </td>
      <td valign="middle">
        <span i18n>
          1200/800 - Europalette
        </span>

      </td>
      <td valign="middle">

          0,- **


      </td>

    </tr>

    <tr class="even">
      <td valign="middle">
        <span>
          Standard
        </span>

      </td>
      <td valign="middle">
        <span>
          600/267/175
        </span>

      </td>
      <td valign="middle">
        <span i18n>
          1200/800 - Europalette
        </span>

      </td>
      <td valign="middle">
        <span>
          0,- **
        </span>

      </td>

    </tr>

    <tr class="odd">
      <td valign="middle">
        <span i18n>
          Großkarton
        </span>

      </td>
      <td valign="middle">
        <span>
          1200/800/700
        </span>

      </td>
      <td valign="middle">
        <span i18n>
          1200/800 - Europalette
        </span>

      </td>
      <td valign="middle">
        <span>
          0,- **
        </span>

      </td>

    </tr>

    <tr class="even">
      <td valign="middle">
        <span i18n>
          Großkarton
        </span>

      </td>
      <td valign="middle">
        <span>
          2100/800/500
        </span>

      </td>
      <td valign="middle">
        <span i18n>
          2100/800 - Einweg-Sonderpalette
        </span>

      </td>
      <td valign="middle">
        <span>
          22,-
        </span>

      </td>

    </tr>

  </table>
  <ng-container i18n>
  <p>
    
      <sub>** Europaletten werden bei der Anlieferung gleich ausgetauscht, ansonsten sind 12,00 Euro pro Palette zu verrechnen.</sub>
  </p>
  <p>

    <b>Lieferung</b>
    <br />Die Lieferung der Ware erfolgt durch unseren Hausspediteur, sofern nichts anderes vereinbart ist. Die Transportkosten
    werden dem Empfänger getrennt in Rechnung gestellt. Ab 10 Tonnen ist die Lieferung frei Haus, gültig im Raum der EU (ausgenommen
    UK, Frankreich, Belgien, Spanien, Portugal und Skandinavien)
  </p>
  <p>

    <b>Zahlung</b>
    <br /> Innerhalb von 8 Tagen mit 2 % Skonto oder 30 Tage netto ab Rechnungsdatum.
    <br /> Generell gelten die gültigen Lieferbedingungen der Wolf Systembau Gesellschaft m.b.H. Scharnstein.
    <br />Die Ware bleibt bis zur vollständigen Bezahlung unser Eigentum.
  </p>
  <p>

    <b>Zulassungen</b>
    <br />Die Nagelplatten dürfen nur
    <a href="http://www.wolfnagelplatten.at/Nagelplatten2/Zulassungen" target="_self">lt. gültiger Zulassung</a>
    verwendet werden.
  </p>
  </ng-container>
